USE [master]
GO
/****** Object:  Database [RealEstateDB]    Script Date: 09.11.2025 14:30:38 ******/
CREATE DATABASE [RealEstateDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RealEstateDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RealEstateDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RealEstateDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RealEstateDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RealEstateDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RealEstateDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateTotalPayments]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Підрахувати суму оплачених платежів по договору
CREATE   FUNCTION [dbo].[fn_CalculateTotalPayments](@LeaseId INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Sum DECIMAL(10,2);
    SELECT @Sum = ISNULL(SUM(p.Amount),0)
    FROM Payment p
    JOIN Invoice i ON p.InvoiceId = i.InvoiceId
    WHERE i.LeaseId = @LeaseId;
    RETURN @Sum;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetTenantFullName]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==============================
   === 2. КОРИСТУВАЦЬКІ ФУНКЦІЇ ===
   ============================== */

-- 6. Повернути повне ім’я орендаря
CREATE   FUNCTION [dbo].[fn_GetTenantFullName](@TenantId INT)
RETURNS NVARCHAR(100)
AS
BEGIN
    DECLARE @Name NVARCHAR(100);
    SELECT @Name = FullName FROM Tenant WHERE TenantId = @TenantId;
    RETURN @Name;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetTotalOutstanding]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_GetTotalOutstanding]()
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Total DECIMAL(10,2);
    SELECT @Total = SUM(Amount - PaidAmount) FROM Invoice;
    RETURN ISNULL(@Total, 0);
END;

GO
/****** Object:  UserDefinedFunction [dbo].[udf_CurrentUserId]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 1. Хелпер: хто виконує запит (для тригерів аудиту)
-- Викликайте в коді перед змінами: EXEC sys.sp_set_session_context @key='user_id', @value=<UserId>;
------------------------------------------------------------
CREATE   FUNCTION [dbo].[udf_CurrentUserId]()
RETURNS INT
AS
BEGIN
    DECLARE @uid SQL_VARIANT = SESSION_CONTEXT(N'user_id');
    RETURN TRY_CAST(@uid AS INT);
END

GO
/****** Object:  UserDefinedFunction [dbo].[udf_LeaseBalance]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 4. Функції — 2 шт.
------------------------------------------------------------
-- Баланс по договору оренди
CREATE   FUNCTION [dbo].[udf_LeaseBalance](@LeaseId INT)
RETURNS DECIMAL(12,2)
AS
BEGIN
    DECLARE @sumInvoices DECIMAL(12,2) =
        (SELECT ISNULL(SUM(Amount),0) FROM dbo.Invoice WHERE LeaseId=@LeaseId);
    DECLARE @sumPaid DECIMAL(12,2) =
        (SELECT ISNULL(SUM(PaidAmount),0) FROM dbo.Invoice WHERE LeaseId=@LeaseId);
    RETURN (@sumInvoices - @sumPaid);
END

GO
/****** Object:  Table [dbo].[Building]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[BuildingId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Floors] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Building] PRIMARY KEY CLUSTERED 
(
	[BuildingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[BuildingId] [int] NOT NULL,
	[UnitNumber] [nvarchar](50) NOT NULL,
	[Area] [decimal](10, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwActiveUnits]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 3. Представлення (VIEW) — 5 шт.
------------------------------------------------------------
CREATE   VIEW [dbo].[vwActiveUnits] AS
SELECT u.*, b.PropertyId
FROM dbo.Unit u
JOIN dbo.Building b ON b.BuildingId = u.BuildingId
WHERE u.IsDeleted = 0;

GO
/****** Object:  Table [dbo].[Lease]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lease](
	[LeaseId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[RentAmount] [decimal](12, 2) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Lease] PRIMARY KEY CLUSTERED 
(
	[LeaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwCurrentLeases]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vwCurrentLeases] AS
SELECT l.*, u.BuildingId
FROM dbo.Lease l
JOIN dbo.Unit u ON u.UnitId = l.UnitId
WHERE l.IsDeleted = 0 AND GETUTCDATE() BETWEEN l.StartDate AND l.EndDate;

GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[LeaseId] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[PaidAmount] [decimal](12, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwOutstandingInvoices]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vwOutstandingInvoices] AS
SELECT i.*, (i.Amount - i.PaidAmount) AS Outstanding
FROM dbo.Invoice i
WHERE (i.Amount - i.PaidAmount) > 0;

GO
/****** Object:  Table [dbo].[ServiceRequest]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequest](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_ServiceRequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwOpenServiceRequests]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vwOpenServiceRequests] AS
SELECT r.*
FROM dbo.ServiceRequest r
WHERE r.Status IN (N'Open', N'InProgress');

GO
/****** Object:  Table [dbo].[Meter]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meter](
	[MeterId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[InstalledOn] [date] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Meter] PRIMARY KEY CLUSTERED 
(
	[MeterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterReading]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterReading](
	[ReadingId] [int] IDENTITY(1,1) NOT NULL,
	[MeterId] [int] NOT NULL,
	[ReadingDate] [date] NOT NULL,
	[Value] [decimal](12, 3) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_MeterReading] PRIMARY KEY CLUSTERED 
(
	[ReadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MR] UNIQUE NONCLUSTERED 
(
	[MeterId] ASC,
	[ReadingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwMeterLatestReadings]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vwMeterLatestReadings] AS
SELECT m.MeterId, MAX(r.ReadingDate) AS LastDate
FROM dbo.Meter m
LEFT JOIN dbo.MeterReading r ON r.MeterId = m.MeterId
GROUP BY m.MeterId;

GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[TenantId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveLeases]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==============================
   === 4. VIEW (ПОДАННЯ) ===
   ============================== */

-- 10. Активні договори
CREATE   VIEW [dbo].[vw_ActiveLeases] AS
SELECT 
    l.LeaseId,
    t.FullName AS TenantName,
    u.UnitNumber,
    l.StartDate,
    l.EndDate,
    l.RentAmount
FROM Lease l
JOIN Tenant t ON l.TenantId = t.TenantId
JOIN Unit u ON l.UnitId = u.UnitId
WHERE l.IsDeleted = 0 AND t.IsDeleted = 0 AND u.IsDeleted = 0;

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkOrder]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrder](
	[WorkOrderId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[VendorId] [int] NULL,
	[EmployeeId] [int] NULL,
	[Cost] [decimal](12, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_WorkOrder] PRIMARY KEY CLUSTERED 
(
	[WorkOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DeletedEntities]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11. М’яко видалені сутності
CREATE   VIEW [dbo].[vw_DeletedEntities] AS
SELECT 'Tenant' AS EntityName, TenantId AS Id, FullName, UpdatedAt FROM Tenant WHERE IsDeleted = 1
UNION ALL
SELECT 'Lease', LeaseId, CONVERT(VARCHAR(50), RentAmount), UpdatedAt FROM Lease WHERE IsDeleted = 1
UNION ALL
SELECT 'Unit', UnitId, UnitNumber, UpdatedAt FROM Unit WHERE IsDeleted = 1
UNION ALL
SELECT 'Vendor', VendorId, Name, UpdatedAt FROM Vendor WHERE IsDeleted = 1
UNION ALL
SELECT 'WorkOrder', WorkOrderId, Status, UpdatedAt FROM WorkOrder WHERE IsDeleted = 1;

GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](128) NOT NULL,
	[KeyValue] [nvarchar](256) NOT NULL,
	[Operation] [nvarchar](20) NOT NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[ChangedAt] [datetime2](0) NOT NULL,
	[ChangedBy] [int] NULL,
 CONSTRAINT [PK_AuditLog] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Position] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[OwnerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Owner] PRIMARY KEY CLUSTERED 
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ownership]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ownership](
	[OwnershipId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[OwnerId] [int] NOT NULL,
	[Share] [decimal](5, 4) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[OwnershipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ownership] UNIQUE NONCLUSTERED 
(
	[UnitId] ASC,
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[PaidDate] [date] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[PropertyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Property] PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Building_PropertyId]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Building_PropertyId] ON [dbo].[Building]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoice_Lease_DueDate]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_Lease_DueDate] ON [dbo].[Invoice]
(
	[LeaseId] ASC,
	[DueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lease_TenantId]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Lease_TenantId] ON [dbo].[Lease]
(
	[TenantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lease_Unit_Tenant]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Lease_Unit_Tenant] ON [dbo].[Lease]
(
	[UnitId] ASC,
	[TenantId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_Invoice]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Payment_Invoice] ON [dbo].[Payment]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_PaidDate]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Payment_PaidDate] ON [dbo].[Payment]
(
	[PaidDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServiceRequest_Status]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceRequest_Status] ON [dbo].[ServiceRequest]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tenant_Active]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Tenant_Active] ON [dbo].[Tenant]
(
	[IsDeleted] ASC
)
INCLUDE([FullName]) 
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tenant_Phone]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Tenant_Phone] ON [dbo].[Tenant]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Unit_Building_Active]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_Unit_Building_Active] ON [dbo].[Unit]
(
	[BuildingId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WO_Request_Status]    Script Date: 09.11.2025 14:30:40 ******/
CREATE NONCLUSTERED INDEX [IX_WO_Request_Status] ON [dbo].[WorkOrder]
(
	[RequestId] ASC,
	[Status] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AuditLog_ChangedAt]  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Building] ADD  CONSTRAINT [DF_Building_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Building] ADD  CONSTRAINT [DF_Building_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_PaidAmount]  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Lease] ADD  CONSTRAINT [DF_Lease_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Lease] ADD  CONSTRAINT [DF_Lease_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lease] ADD  CONSTRAINT [DF_Lease_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Meter] ADD  CONSTRAINT [DF_Meter_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Meter] ADD  CONSTRAINT [DF_Meter_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MeterReading] ADD  CONSTRAINT [DF_MR_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MeterReading] ADD  CONSTRAINT [DF_MR_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Owner] ADD  CONSTRAINT [DF_Owner_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Owner] ADD  CONSTRAINT [DF_Owner_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Ownership] ADD  CONSTRAINT [DF_Ownership_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Ownership] ADD  CONSTRAINT [DF_Ownership_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Property] ADD  CONSTRAINT [DF_Property_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ServiceRequest] ADD  CONSTRAINT [DF_SR_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceRequest] ADD  CONSTRAINT [DF_SR_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Tenant] ADD  CONSTRAINT [DF_Tenant_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Tenant] ADD  CONSTRAINT [DF_Tenant_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tenant] ADD  CONSTRAINT [DF_Tenant_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Unit] ADD  CONSTRAINT [DF_Unit_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Vendor] ADD  CONSTRAINT [DF_Vendor_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Vendor] ADD  CONSTRAINT [DF_Vendor_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vendor] ADD  CONSTRAINT [DF_Vendor_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WorkOrder] ADD  CONSTRAINT [DF_WO_Cost]  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [dbo].[WorkOrder] ADD  CONSTRAINT [DF_WO_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[WorkOrder] ADD  CONSTRAINT [DF_WO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkOrder] ADD  CONSTRAINT [DF_WO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_CreatedBy]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([PropertyId])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_Property]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_UpdatedBy]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_CreatedBy]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Lease] FOREIGN KEY([LeaseId])
REFERENCES [dbo].[Lease] ([LeaseId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Lease]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_UpdatedBy]
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD  CONSTRAINT [FK_Lease_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Lease] CHECK CONSTRAINT [FK_Lease_CreatedBy]
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD  CONSTRAINT [FK_Lease_Tenant] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenant] ([TenantId])
GO
ALTER TABLE [dbo].[Lease] CHECK CONSTRAINT [FK_Lease_Tenant]
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD  CONSTRAINT [FK_Lease_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Lease] CHECK CONSTRAINT [FK_Lease_Unit]
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD  CONSTRAINT [FK_Lease_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Lease] CHECK CONSTRAINT [FK_Lease_UpdatedBy]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [FK_Meter_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [FK_Meter_CreatedBy]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [FK_Meter_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [FK_Meter_Unit]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [FK_Meter_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [FK_Meter_UpdatedBy]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MR_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MR_CreatedBy]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MR_Meter] FOREIGN KEY([MeterId])
REFERENCES [dbo].[Meter] ([MeterId])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MR_Meter]
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD  CONSTRAINT [FK_MR_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[MeterReading] CHECK CONSTRAINT [FK_MR_UpdatedBy]
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD  CONSTRAINT [FK_Owner_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [FK_Owner_CreatedBy]
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD  CONSTRAINT [FK_Owner_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [FK_Owner_UpdatedBy]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_CreatedBy]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Owner] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owner] ([OwnerId])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Owner]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Unit]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_UpdatedBy]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_CreatedBy]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Invoice]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_UpdatedBy]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_CreatedBy]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_UpdatedBy]
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD  CONSTRAINT [FK_SR_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ServiceRequest] CHECK CONSTRAINT [FK_SR_CreatedBy]
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD  CONSTRAINT [FK_SR_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[ServiceRequest] CHECK CONSTRAINT [FK_SR_Unit]
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD  CONSTRAINT [FK_SR_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ServiceRequest] CHECK CONSTRAINT [FK_SR_UpdatedBy]
GO
ALTER TABLE [dbo].[Tenant]  WITH CHECK ADD  CONSTRAINT [FK_Tenant_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Tenant] CHECK CONSTRAINT [FK_Tenant_CreatedBy]
GO
ALTER TABLE [dbo].[Tenant]  WITH CHECK ADD  CONSTRAINT [FK_Tenant_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Tenant] CHECK CONSTRAINT [FK_Tenant_UpdatedBy]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Building] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[Building] ([BuildingId])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_Building]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_CreatedBy]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_UpdatedBy]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD  CONSTRAINT [FK_Vendor_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Vendor] CHECK CONSTRAINT [FK_Vendor_CreatedBy]
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD  CONSTRAINT [FK_Vendor_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Vendor] CHECK CONSTRAINT [FK_Vendor_UpdatedBy]
GO
ALTER TABLE [dbo].[WorkOrder]  WITH CHECK ADD  CONSTRAINT [FK_WO_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[WorkOrder] CHECK CONSTRAINT [FK_WO_CreatedBy]
GO
ALTER TABLE [dbo].[WorkOrder]  WITH CHECK ADD  CONSTRAINT [FK_WO_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[WorkOrder] CHECK CONSTRAINT [FK_WO_Employee]
GO
ALTER TABLE [dbo].[WorkOrder]  WITH CHECK ADD  CONSTRAINT [FK_WO_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[ServiceRequest] ([RequestId])
GO
ALTER TABLE [dbo].[WorkOrder] CHECK CONSTRAINT [FK_WO_Request]
GO
ALTER TABLE [dbo].[WorkOrder]  WITH CHECK ADD  CONSTRAINT [FK_WO_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[WorkOrder] CHECK CONSTRAINT [FK_WO_UpdatedBy]
GO
ALTER TABLE [dbo].[WorkOrder]  WITH CHECK ADD  CONSTRAINT [FK_WO_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[WorkOrder] CHECK CONSTRAINT [FK_WO_Vendor]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD CHECK  (([Floors]>=(0)))
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD CHECK  (([RentAmount]>=(0)))
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD CHECK  (([Value]>=(0)))
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD CHECK  (([Share]>(0) AND [Share]<=(1)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD CHECK  (([Area]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrUpdateMeterReading]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.3. Додати показник лічильника з idемпотентністю по (MeterId, ReadingDate)
CREATE   PROCEDURE [dbo].[sp_AddOrUpdateMeterReading]
    @MeterId INT, @ReadingDate DATE, @Value DECIMAL(12,3)
AS
BEGIN
    SET NOCOUNT ON;

    MERGE dbo.MeterReading AS target
    USING (SELECT @MeterId AS MeterId, @ReadingDate AS ReadingDate) AS src
    ON (target.MeterId = src.MeterId AND target.ReadingDate = src.ReadingDate)
    WHEN MATCHED THEN
        UPDATE SET Value=@Value, UpdatedAt=SYSUTCDATETIME(), UpdatedBy=dbo.udf_CurrentUserId()
    WHEN NOT MATCHED THEN
        INSERT(MeterId,ReadingDate,Value,CreatedBy,UpdatedBy)
        VALUES(@MeterId,@ReadingDate,@Value,dbo.udf_CurrentUserId(),dbo.udf_CurrentUserId());
END

GO
/****** Object:  StoredProcedure [dbo].[sp_AddTenant]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddTenant]
    @FullName NVARCHAR(200),
    @Phone NVARCHAR(50),
    @Email NVARCHAR(200),
    @CreatedBy INT
AS
BEGIN
    INSERT INTO Tenant (FullName, Phone, Email, IsDeleted, CreatedAt, CreatedBy, UpdatedAt, UpdatedBy)
    VALUES (@FullName, @Phone, @Email, 0, SYSUTCDATETIME(), @CreatedBy, SYSUTCDATETIME(), @CreatedBy);

    SELECT SCOPE_IDENTITY() AS NewTenantId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CloseWorkOrder]    Script Date: 09.11.2025 14:30:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.5. Закрити робоче замовлення (WorkOrder)
CREATE   PROCEDURE [dbo].[sp_CloseWorkOrder]
    @WorkOrderId INT
AS
BEGIN
    UPDATE dbo.WorkOrder
    SET Status=N'Done', UpdatedAt=SYSUTCDATETIME(), UpdatedBy=dbo.udf_CurrentUserId()
    WHERE WorkOrderId=@WorkOrderId AND IsDeleted=0;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateLease]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 6. Збережені процедури — 5 шт.
------------------------------------------------------------
-- 6.1. Створити договір (із базовою перевіркою перетину дат для тієї ж квартири)
CREATE   PROCEDURE [dbo].[sp_CreateLease]
    @UnitId INT, @TenantId INT, @StartDate DATE, @EndDate DATE, @RentAmount DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM dbo.Lease
        WHERE UnitId=@UnitId AND IsDeleted=0
          AND (@StartDate <= EndDate AND @EndDate >= StartDate)
    )
    BEGIN
        RAISERROR(N'Перетин періодів оренди для цієї квартири.',16,1);
        RETURN;
    END

    INSERT INTO dbo.Lease(UnitId,TenantId,StartDate,EndDate,RentAmount,CreatedBy,UpdatedBy)
    VALUES(@UnitId,@TenantId,@StartDate,@EndDate,@RentAmount,dbo.udf_CurrentUserId(),dbo.udf_CurrentUserId());
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteTenantSoft]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteTenantSoft]
    @TenantId INT,
    @UpdatedBy INT
AS
BEGIN
    UPDATE Tenant
    SET IsDeleted = 1,
        UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = @UpdatedBy
    WHERE TenantId = @TenantId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveLeases]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetActiveLeases]
AS
BEGIN
    SELECT l.LeaseId, t.FullName AS TenantName, u.UnitNumber, l.StartDate, l.EndDate, l.RentAmount
    FROM Lease l
        JOIN Tenant t ON l.TenantId = t.TenantId
        JOIN Unit u ON l.UnitId = u.UnitId
    WHERE l.IsDeleted = 0 AND GETUTCDATE() BETWEEN l.StartDate AND l.EndDate;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveTenants]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetActiveTenants]
AS
BEGIN
    SELECT TenantId,
           FullName,
           Phone,
           Email,
           IsDeleted,
           CreatedAt,
           CreatedBy,
           UpdatedAt,
           UpdatedBy
    FROM Tenant
    WHERE IsDeleted = 0
    ORDER BY CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveUnits]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Отримати всі активні приміщення
CREATE   PROCEDURE [dbo].[sp_GetActiveUnits]
AS
BEGIN
    SELECT UnitId, UnitNumber, Area, BuildingId
    FROM Unit
    WHERE IsDeleted = 0;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetTenantInvoices]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Отримати рахунки орендаря
CREATE   PROCEDURE [dbo].[sp_GetTenantInvoices]
    @TenantId INT
AS
BEGIN
    SELECT i.InvoiceId, i.IssueDate, i.DueDate, i.Amount, i.PaidAmount
    FROM Invoice i
    JOIN Lease l ON i.LeaseId = l.LeaseId
    WHERE l.TenantId = @TenantId AND l.IsDeleted = 0;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_RecordPayment]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.4. Зареєструвати платіж (перерахунок тригер зробить сам)
CREATE   PROCEDURE [dbo].[sp_RecordPayment]
    @InvoiceId INT, @PaidDate DATE, @Amount DECIMAL(12,2), @Method NVARCHAR(50)
AS
BEGIN
    INSERT INTO dbo.Payment(InvoiceId,PaidDate,Amount,Method,CreatedBy,UpdatedBy)
    VALUES(@InvoiceId,@PaidDate,@Amount,@Method,dbo.udf_CurrentUserId(),dbo.udf_CurrentUserId());
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SoftDeleteTenant]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. М’яке видалення орендаря
CREATE   PROCEDURE [dbo].[sp_SoftDeleteTenant]
    @TenantId INT,
    @UpdatedBy INT
AS
BEGIN
    UPDATE Tenant
    SET IsDeleted = 1,
        UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = @UpdatedBy
    WHERE TenantId = @TenantId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLeaseAmount]    Script Date: 09.11.2025 14:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Оновлення суми оренди
CREATE   PROCEDURE [dbo].[sp_UpdateLeaseAmount]
    @LeaseId INT,
    @NewAmount DECIMAL(10,2),
    @UpdatedBy INT
AS
BEGIN
    UPDATE Lease
    SET RentAmount = @NewAmount,
        UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = @UpdatedBy
    WHERE LeaseId = @LeaseId;
END;

GO
USE [master]
GO
